.overlay-root {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 999;

  &.visible {
    display: block;
  }

  &.invisible {
    display: none;
  }
}

.modal-root {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  outline: 0;

  &.visible {
    display: block;
  }

  &.invisible {
    display: none;
  }

  & > .inner {
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5);
    background: #fff;
    border-radius: 10px;
    width: 800px;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 auto;
    padding: 40px 20px;
    overflow: auto;
    max-height: 100vh;
  }
}
